@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if(!string.IsNullOrEmpty(ViewBag.ErrorMessage)) {
        @ViewBag.ErrorMessage
    }
    <table class="table">
        <thead>
        <th>Id</th>
        <th>Tipo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Gasolina</th>
        <th>Estado</th>
        <th>Acciones</th>
        </thead>
        @foreach (var vehicle in Model.Vehicles)
        {
    <tr>
        <td>
            @vehicle.ID
        </td>
        <td>
            @(vehicle.GetType().Name)
        </td>
        <td>
            @vehicle.Brand
        </td>
        <td>
            @vehicle.Model
        </td>
        <td>
            @vehicle.Color
        </td>
        <td>
            @vehicle.Gas.ToString("N1")
        </td>
        <td>
            @(vehicle.IsEngineOn() ? "Encendido": "Apagado")
        </td>
                <td>
                    @if (vehicle.IsEngineOn())
                    {
                        <a class="btn btn-warning btn-sm"
                           href="@Url.Action("StopEngine", "Home", new { id = vehicle.ID })">
                            Stop Engine
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-sm"
                           href="@Url.Action("StartEngine", "Home", new { id = vehicle.ID })">
                            Start Engine
                        </a>
                    }

                    <a class="btn btn-info btn-sm"
                       href="@Url.Action("AddGas", "Home", new { id = vehicle.ID })">
                        Llenar tanque
                    </a>
                </td>

    </tr>
        }
    </table>

    <a class="btn btn-primary" href="@Url.Action("AddVehicle", "Home", new { type = "Mustang" })">Agregar Mustang</a>
    <a class="btn btn-secondary" href="@Url.Action("AddVehicle", "Home", new { type = "Explorer" })">Agregar Explorer</a>
    <a class="btn btn-info" href="@Url.Action("AddVehicle", "Home", new { type = "Escape" })">Agregar Escape</a>

</div>
